<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>ChemLab</ion-list-header>
          <ion-note>Your All-in-one Chemistry Calculator</ion-note>
          <!-- Thin line separator -->
          <div class="header-separator"></div>

          <!-- Accordion Group for Sections -->
          <ion-accordion-group>

            <!-- General Chemistry Section -->
            <ion-accordion value="general">
              <ion-item slot="header">
                <ion-label>General Chemistry</ion-label>
              </ion-item>
              <div slot="content">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </ion-accordion>

            <!-- Biochemistry Section -->
            <ion-accordion value="biochemistry">
              <ion-item slot="header">
                <ion-label>Biochemistry</ion-label>
              </ion-item>
              <div slot="content">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages_second; let i = index">
                  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </ion-accordion>

          </ion-accordion-group>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
