<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MME Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calc_content">
<!-- Normality Unit -->
<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>Normality Unit</ion-label>
      <ion-select
        class="select"
        slot="end"
        interface="popover"
        [(ngModel)]="selectedUnit"
        (ionChange)="updateDisplayedInput()">
        <ion-select-option *ngFor="let unit of units" [value]="unit.symbol">
          {{ unit.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        [value]="displayedInput"
        (ionInput)="onInputChangeForNormality($event.target.value)">
      </ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>

<!-- Vmax Unit -->
<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>Vmax Unit</ion-label>
      <ion-select
        class="select"
        slot="end"
        interface="popover"
        [(ngModel)]="selectedVmaxUnit"
        (ionChange)="updateDisplayedVmaxInput()">
        <ion-select-option *ngFor="let unit of vmaxUnits" [value]="unit.symbol">
          {{ unit.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        [value]="displayedVmaxInput"
        (ionInput)="onInputChangeForVmax($event.target.value)">
      </ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>

<!-- Substrate Concentration Unit -->
<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>Substrate Concentration Unit</ion-label>
      <ion-select
        class="select"
        slot="end"
        interface="popover"
        [(ngModel)]="selectedSUnit"
        (ionChange)="updateDisplayedSInput()">
        <ion-select-option *ngFor="let unit of units" [value]="unit.symbol">
          {{ unit.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        [value]="displayedSInput"
        (ionInput)="onInputChangeForSubstrate($event.target.value)">
      </ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>

<!-- Reaction Rate Unit -->
<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>Reaction Rate Unit</ion-label>
      <ion-select
        class="select"
        slot="end"
        interface="popover"
        [(ngModel)]="selectedVUnit"
        (ionChange)="updateDisplayedVInput()">
        <ion-select-option *ngFor="let unit of vUnits" [value]="unit.symbol">
          {{ unit.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        [value]="displayedVInput"
        (ionInput)="onInputChangeForReactionRate($event.target.value)">
      </ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>


    <!-- Clear Button -->
    <ion-button  expand="block" color="danger" (click)="clearAll()">Clear</ion-button>
  </div>
</ion-content>
